
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    This Worked!
</div>
<div>
    <form action="~/Home/Login">
        <input type="text" id="username" name="userName"/>
        <input type="text" id="password" name="password" />
        <button id="go">Go</button>
    </form>
</div>
</body>
</html>
